@CHARSET "UTF-8";


.mingxi table{border-spacing:0;padding:0;background-color:#f4f7f3;margin-top:20px;margin-bottom:20px;}
.mingxi table td{border:1px #dff0d8 solid; padding:2px 5px;}
.mingxi input{border:1px solid #ccc}
.mingxi select{border:1px solid #ccc}